<a href="https://colab.research.google.com/github/spanman888/DSC672_Teacher_Salary/blob/master/Capstone_Teacher_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import os

In [0]:
#Load from GitHub
url2003 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2003_tsr_public_dataset.csv'
url2004 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2004_tsr_public_dataset.csv'
url2005 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2005_tsr_public_dataset.csv'
url2006 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2006_tsr_public_dataset.csv'
url2007 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2007_tsr_public_dataset.csv'
url2008 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2008_tsr_public_dataset.csv'
url2009 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2009_tsr_public_dataset.csv'
url2010 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2010_tsr_public_dataset.csv'
url2011 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2011_tsr_public_dataset.csv'
url2012 = 'https://raw.githubusercontent.com/spanman888/DSC672_Teacher_Salary/master/DSC672_Data/2012-tsr-public-dataset.csv'

In [22]:
df = pd.concat(map(pd.read_csv, [url2003, url2004,url2005,url2006,url2007,url2008,url2009,url2010,url2011,url2012]))

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7,34,38) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,7,8,14) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
df.count()

fy                     1624887
rcdt                   1624887
dst_name               1624846
dst_addr               1624846
dst_city               1624846
dst_st                 1624846
dst_zip                1624846
dst_zip_plus4          1624846
sch_num                1624887
sch_name               1624866
sch_addr               1503783
sch_city               1503783
sch_st                 1503783
sch_zip                1503783
sch_zip_plus4          1503783
last_name              1624887
first_name             1624887
mid_init               1624887
gender                 1624887
race_ethnicity_cd      1624559
race_ethnicity_desc    1624468
tsr_status_cd          1624887
tsr_status_desc        1624887
location_cd            1624878
location_desc          1624833
emply_type             1624887
emply_desc             1624665
salary                 1624887
months_employed        1624887
pct_emp                1624887
                        ...
dist_exp               1624887
state_exp              1624887
out_of_state_exp       1624887
bacc_coll              1624887
bacc_coll_desc         1618497
high_degre_cd          1624887
high_degre_desc        1624884
adv_coll               1624887
adv_coll_desc           963950
pos_cd                 1624887
pos_desc               1624887
low_grade              1623250
low_grd_desc           1623249
high_grade             1624887
high_grd_desc          1624798
assignment_1           1624887
assign1_desc           1624887
assignment_2           1624886
assign2_desc            362420
assignment_3           1624886
assign3_desc            107427
assignment_4           1146853
assign4_desc             44375
assignment_5           1146779
assign5_desc             25630
assignment_6           1146779
assign6_desc              8442
assignment_7           1146779
assign7_desc              2490
pct_admin              1624842
Length: 61, dtype: int64

In [24]:
df

,fy,rcdt,dst_name,dst_addr,dst_city,dst_st,dst_zip,dst_zip_plus4,sch_num,sch_name,...,assign3_desc,assignment_4,assign4_desc,assignment_5,assign5_desc,assignment_6,assign6_desc,assignment_7,assign7_desc,pct_admin
0,2003,16019424026,Genoa Kingston CUSD 424,980 Park Ave,Genoa,IL,60135.0,1423,1003,Genoa-Kingston Middle School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2003,05016036002,Winnetka SD 36,1235 Oak St,Winnetka,IL,60093.0,2168,1005,Carleton W Washburne School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2003,34049220026,Barrington CUSD 220,310 James St,Barrington,IL,60010.0,3329,0004,Barrington High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2003,31045046022,SD U-46,355 E Chicago St,Elgin,IL,60120.0,6543,1003,Abbott Middle School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2003,19022086017,Hinsdale Twp HSD 86,5500 S Grant St,Hinsdale,IL,60521.0,4578,0002,Hinsdale South High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,2003,05016028002,Northbrook SD 28,1475 Maple Ave,Northbrook,IL,60062.0,5418,2002,Greenbriar Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,2003,34049038002,Big Hollow SD 38,26051 W Nippersink,Ingleside,IL,60041.0,8785,2002,Big Hollow Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,2003,15016299025,City of Chicago SD 299,125 S Clark St,Chicago,IL,60603.0,5200,0030,Mather High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,2003,19022200026,CUSD 200,130 W Park Ave,Wheaton,IL,60189.0,6460,1017,Edison Middle School,...,General Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9,2003,19022203026,Naperville CUSD 203,203 W Hillside Rd,Naperville,IL,60540.0,6500,0013,Naperville North High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,2003,05016202017,Evanston Twp HSD 202,1600 Dodge Ave,Evanston,IL,60201.0,3449,0001,Evanston Twp High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,2003,15016299025,City of Chicago SD 299,125 S Clark St,Chicago,IL,60603.0,5200,2288,Jensen Elem Scholastic Academy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12,2003,04101205025,Rockford SD 205,201 S Madison St,Rockford,IL,61104.0,2061,2023,Dennis Early Childhood,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13,2003,34049220026,Barrington CUSD 220,310 James St,Barrington,IL,60010.0,3329,0004,Barrington High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14,2003,04101205025,Rockford SD 205,201 S Madison St,Rockford,IL,61104.0,2061,0000,Rockford SD 205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
15,2003,15016299025,City of Chicago SD 299,125 S Clark St,Chicago,IL,60603.0,5200,0000,City of Chicago SD 299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
16,2003,56099086005,Joliet PSD 86,420 N Raynor Ave,Joliet,IL,60435.0,6065,2007,Edna Keith Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
17,2003,15016299025,City of Chicago SD 299,125 S Clark St,Chicago,IL,60603.0,5200,3743,Northside Learning Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18,2003,19022089004,CCSD 89,22w600 Butterfield,Glen Ellyn,IL,60137.0,6901,2006,Westfield Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19,2003,19022205026,Elmhurst SD 205,162 S York St,Elmhurst,IL,60126.0,3417,0003,York Comm High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20,2003,05016030002,Northbrook/Glenview SD 30,2374 Shermer Rd,Northbrook,IL,60062.0,6729,1001,Maple School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21,2003,44063047004,Crystal Lake CCSD 47,300 Commerce Dr,Crystal Lake,IL,60014.0,3503,2008,West Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22,2003,15016299025,City of Chicago SD 299,125 S Clark St,Chicago,IL,60603.0,5200,0764,Young Magnet High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23,2003,19022007002,Wood Dale SD 7,543 N Wood Dale Rd,Wood Dale,IL,60191.0,1535,2002,Oakbrook Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
24,2003,31045302026,Kaneland CUSD 302,47w326 Keslinger Rd,Maple Park,IL,60151.0,9720,0001,Kaneland Senior High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,2003,19022204026,Indian Prairie CUSD 204,780 Shoreline Dr,Aurora,IL,60504.0,6192,2006,Brookdale Elementary School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26,2003,34049050004,Woodland CCSD 50,1105 N Hunt Club Rd,Gurnee,IL,60031.0,2418,1004,Woodland Middle School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
27,2003,07016161002,Flossmoor SD 161,41 E Elmwood Dr,Chicago Heights,IL,60411.0,1104,2001,Flossmoor Hills Elem School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
28,2003,07016230013,Cons HSD 230,15100 S 94th Ave,Orland Park,IL,60462.0,3291,0002,Amos Alonzo Stagg High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
29,2003,51084016026,New Berlin CUSD 16,PO Box 230,New Berlin,IL,62670.0,0230,0001,New Berlin High School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162930,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,2,New Tech High - Zion-Benton East,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162931,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162932,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,Geography (Grades 9-12 Only),0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162933,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162934,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0
162935,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162936,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162937,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162938,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162939,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,0,Zion-Benton Twp HSD 126,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0
162940,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162941,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162942,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162943,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162944,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,0,Zion-Benton Twp HSD 126,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162945,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162946,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0
162947,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162948,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162949,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162950,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162951,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162952,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162953,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162954,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162955,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162956,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,2,New Tech High - Zion-Benton East,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162957,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162958,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,1,Zion-Benton Twnshp Hi Sch,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
162959,2012,34049126017,Zion-Benton Twp HSD 126,1 ZB Way,Zion,IL,60099.0,1406,2,New Tech High - Zion-Benton East,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0